gpt2/355M/vocab.bpe
gpt2-medium355M-sft.pth
gpt2/124M/checkpoint
gpt2/124M/encoder.json
gpt2/124M/hparams.json
gpt2/124M/model.ckpt.data-00000-of-00001
gpt2/124M/model.ckpt.index
gpt2/124M/model.ckpt.meta
gpt2/124M/vocab.bpe
gpt2/355M/checkpoint
gpt2/355M/encoder.json
gpt2/355M/hparams.json
gpt2/355M/model.ckpt.data-00000-of-00001
gpt2/355M/model.ckpt.index
gpt2/355M/model.ckpt.meta
*.pyc
*.pth
*.pyc
